/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Adding CSS Variables for Colours and Applying Transition */
*{
    --black: #111;
    --white: #eff0ec;
    --dark-gray: #3c3c3c;
    font-family: 'Poppins', sans-serif;
    transition: all ease 400ms;
}body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}


/* Styles For Header Section */
.container{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--black);
    color: var(--white);
    z-index: 9;
}.inner-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}.ul-container{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}.ul-container > ul{
    display: flex;
    align-items: center;
    list-style: none;
}.ul-container > ul > li > a{
    text-decoration: none;
    color: var(--white);
    padding: 20px;
}.fa-bars{
    font-size: 28px;
    display: none;
}.fa-xmark{
    font-size: 32px;
    display: none;
}
@media screen and (max-width:768px){
    .inner-container{
        width: 100%;
        justify-content: space-between;
    }.ul-container{
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        color: var(--white);
        background-color: var(--black);
        justify-content: center;
    }.inner-container > h1{
        margin-left: 30px;
        font-weight: 500;
    }
    .fa-bars{
        display: block;
        margin-right: 30px;
    }.fa-xmark{
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }.ul-container > ul{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: 100%;
    }.ul-container > ul > li > a{
        padding: 0;
    }
}
/* Competed Styles for Header Section */

/**************************************/

/* Starting Styles for Hero Section */
.herosection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}.hero-content{
    width: 50%;
    height: 100%;
    align-items: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}.content-box{
    width: auto;
    width: 600px;
    height: auto;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}.content-box > h1{
    font-size: 58px;
    margin: 0
}.content-box > h2{
    font-size: 48px;
    margin: 0
}button{
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 24px;
}.hero-img-div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}.hero-img{
    width: 700px;
    height: auto;
}

.section-b{
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    color: var(--white);
}.cards-section{
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}.card{
    width: 75%;
    height: 600px;
    background-color: #00000091;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    margin: 180px 40px;
}.card > h1{
    margin: 0;
    font-size: 34px;
}.card > p{
    width: 80%;
    padding: 0 25px;
    text-align: center;
}
.section-b{
    width: 100%;
    height: 140vh;
    position: relative;
    display: flex;
}.section-b-img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}.section-b::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 3;
}.f1-8{
    position: relative;
    font-size: 48px;
    font-weight: 600;
    z-index: 5;
}
footer{
    width: 100%;
    height: 200px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    color: var(--black);
    justify-content: center;
    position: relative;
    z-index: 5;
}.footer-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}.footer-logo-div{
    width: 300px;
}.footer-logo-div > h1,p{
    margin: 0;
}.footer-div ul{
    list-style: none;
}.footer-div ul > li{
    margin-top: 15px;
}.footer-socials-icons{
    display: flex;
}.footer-socials-icons > div{
    margin: 0 10px 0 0;
}.footer-div a{
    color: var(--black);
    text-decoration: none;
}.footer-socials a :hover{
    cursor: pointer;
}.footer-socials-icons a{
    font-size: 24px;
}.footer-div button{
    background-color: var(--black);
    border-radius: 10px;
    color: var(--white);
    margin: 0;
    width: fit-content;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px 15px;
}